/**

Mini Profile Template

https://templatemo.com/tm-530-mini-profile


Color Codes
------------
brown: #986665;
green: #98cb00;
orange: #cc6733;
blue: #3398cc;
dark-gray: #676767;
light-gray: #999999;
text-gray: #6b6b6b;

*/

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}


.container-fluid {
  max-width: 1200px;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-yellow {
  background-color: #98A200;
}

.tm-bg-dark-gray {
  background-color: #676767;
}

/*
  Welcome section
*/
#tmWelcome {
  position: relative;
  display: flex;
  align-items: center;
}

.tm-brand-container-outer {
  margin-top: -400px;
}

.tm-brand-container-inner {
  max-width: 580px;
  width: 100%;
}

.tm-brand-container {
  padding: 75px 110px;
}

.tm-brand-name {
  font-size: 3.8rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: #986665;
  padding: 80px 43px 70px;
  height: 100%;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

/*
  Portfolio section
*/

#tmPortfolio {
  padding-top: 80px;
}

.tm-portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.tm-portfolio-name {
  width: 330px;
  height: 220px;
  font-size: 2rem;
  padding: 70px 95px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tm-portfolio-description {
  width: calc(100% - 330px);
  padding: 20px 45px;
}

.tm-portfolio-description h3 {
  margin-bottom: 20px;
}

.tm-text-green {
  color: #98cb00;
}

.tm-text-orange {
  color: #cc6733;
}

.tm-text-blue {
  color: #3398cc;
}

.tm-text-yellow {
  color: #98A200;
}

.tm-text-dark-gray {
  color: #676767;
}

.tm-title-small {
  font-size: 1.3rem;
}

p {
  line-height: 1.8;
}

/*
  Contact section
*/

#tmContact {
  padding-top: 95px;
}

.tm-contact-item {
  width: 33.3334%;
  max-width: 345px;
  height: auto;
  min-height: 420px;
  margin-right: 35px;
  background-color: white;
  padding: 54px 34px 44px;
}

.tm-contact-item:last-child {
  margin-right: 0;
}

.tm-contact-items-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.tm-contact-item-icon {
  margin-bottom: 45px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tmContactForm {
  width: 100%;
  max-width: 680px;
  padding: 45px 45px 30px;
  margin-bottom: 95px;
}

.form-group {
  max-width: 355px;
}

.form-control {
  background: transparent;
  border-color: #999999;
  padding: 15px 10px;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.tm-btn-submit {
  background-color: #999999;
  padding: 12px 30px;
  font-size: 1.2rem;
}

.tm-btn-submit:focus,
.tm-btn-submit:hover {
  background-color: #676767;
}

.tm-copyright-text {
  margin-bottom: 30px;
}

.tm-link {
  color: #676767;
}

@media (max-width: 767px) {
  .tm-brand-container-outer {
  margin-top: -979px;
  }
  .tm-contact-item-icon {
    margin-bottom: 15px;
  }
}
@media (max-width: 320px) {
  .tm-brand-container-outer {
  margin-top: -1000px;
  }
}

@media (max-width: 991px) {
  .tm-contact-items-container {
    flex-direction: column;
  }

  .tm-contact-item {
    width: auto;
    max-width: 680px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .tm-contact-item:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }

  #tmContactForm {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 730px) {
  .tm-portfolio-item {
    flex-direction: column;
  }

  .tm-portfolio-name {
    justify-content: center;
  }

  .tm-portfolio-name,
  .tm-portfolio-description {
    width: 100%;
  }

  .tm-portfolio-description {
    padding: 20px 30px;
  }
}

@media (max-width: 572px) {
  .tm-brand-container {
    padding: 45px;
  }
}

@media (max-width: 508px) {
  .tm-brand-name {
    font-size: 3rem;
  }

  .tm-brand-container {
    padding: 25px;
  }
}
@media (max-width: 414px) {
  .tm-brand-name {
    font-size: 2rem;
  }

  .tm-brand-container {
    padding: 0;
  }
}
@media (max-width: 375px) {
  .tm-brand-name {
    font-size: 1.24rem;
  }

  .tm-brand-container {
    padding: 0;
  }
  .tm-welcome-title {
  margin-bottom: 40px;
  font-size: 25px;
  }
  .tm-brand-description{
    font-size: 1.24rem;
  }
}
@media (max-width: 360px) {
  .tm-brand-name {
    font-size: 1.1rem;
  }

  .tm-brand-container {
    padding: 0;
  }
  .tm-welcome-title {
  margin-bottom: 40px;
  font-size: 20px;
  }
  .tm-brand-description{
    font-size: 1.1rem;
  }
  .sized-paragraph{
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .tm-brand-name {
    font-size: 1.1rem;
  }

  .tm-brand-container {
    padding: 0;
  }
  .tm-welcome-title {
  margin-bottom: 40px;
  font-size: 20px;
  }
  .tm-brand-description{
    font-size: 1.1rem;
  }
  .sized-paragraph{
    font-size: 15px;
  }
}
@media (max-width: 280px) {
  .tm-brand-name {
    font-size: 1.25rem;
  }

  .tm-brand-container {
    padding: 0;
  }
  .tm-welcome-title {
  margin-bottom: 40px;
  font-size: 18px;
  }
  .tm-brand-description{
    font-size: 1.25rem;
  }
  .sized-paragraph{
    font-size: 13px;
  }
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
  .box{
    width:600px;
    margin:0 auto;
    border:1px solid #ccc;
  }
  .has-error
  {
    border-color:#cc0000;
    background-color:#ffff99;
  }
  #topbar {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
  }

  #topbar .contact-info a {
    line-height: 1;
    color: #444;
    transition: 0.3s;
  }

  #topbar .contact-info a:hover {
    color: #428bca;
  }

  #topbar .contact-info i {
    color: #428bca;
    padding: 4px;
  }

  #topbar .contact-info .fas .fa-phone {
    padding-left: 20px;
    margin-left: 10px;
  }

  #topbar .social-links a {
    color: #5c768d;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }

  #topbar .social-links a:hover {
    color: #428bca;
  }

  .d-lg-block {
    display: block !important;
  }

  .tm-text-yellow {
    color: #98A200;
  }

  .tm-bg-yellow {
    background-color: #98A200;
  }

  .iframe{
      position: relative;
      padding-bottom: 35%;
      height: 0;
    }

    .iframe iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 561px;
      height: 315px;
    }

  @media (max-width: 730px) {
    .iframe{
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
    }

    .iframe iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80%
    }
  }

.bilel-card{
    height: 208px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 15px 0;
}
.bilel-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bilel-card-content img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}
.bilel-card:hover img{
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: transform 2s ease-in-out;
    -moz-transition:transform 2s ease-in-out;
    -ms-transition:transform 2s ease-in-out;
}
.bilel-card-info{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px -5px 9px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px -5px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -5px 9px 0px rgba(0,0,0,0.3);
    padding: 7px;
}
.bilel-card-info h2{
    font-size: 1.3vw;
    color: #1d2124;
    margin-bottom: 0px;
}
.bilel-card-info p,
.bilel-card-info span{
    font-size: 0.8vw;
    color: #1d2124;
}
.bilel-row-gap{
    margin-top: 30px;
}
